---
layout: layouts/base.njk
---
{% block head %}
<link rel="stylesheet" href="{{ base }}/assets/css/book.css">
{% endblock %}

{% block body %}
<div class="chapter-content">
  <h1>{{ title }}</h1>
  {{ content | safe }}

  <div class="chapter-nav">
    {% if prev %}
      <a href="{{ base }}/book/{{ prev.slug }}/">&larr; {{ prev.title }}</a>
    {% else %}
      <span></span>
    {% endif %}
    {% if next %}
      <a href="{{ base }}/book/{{ next.slug }}/">{{ next.title }} &rarr;</a>
    {% else %}
      <a href="{{ base }}/book/">Back to Table of Contents</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ base }}/assets/js/code-block.js"></script>
{% endblock %}
